@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px; 
    --color-primary: #03a1fc;
    --color-primary-hover: #028ad9;
    --color-secondary: #f7fbfc;
    --color-card-background: #090909;
    --color-background-color-1: #131313;
    --color-barchart-background: #171717;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #111111;
        overflow-x: hidden;
    }
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-secondary bg-background-color-1 rounded px-4 py-3 mb-4 mt-3 outline-2 outline-primary;
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-400 shadow-lg shadow-blue-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-900;
}

.card {
    @apply bg-card-background p-6 rounded-2xl shadow-md shadow-blue-500 border-3 border-blue-500 text-secondary;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-blue-500 hover:text-blue-400 bg-blue-900/20 hover:bg-blue-500/30 px-4 py-1.5 rounded-lg border-2 border-blue-600 hover:border-blue-400 cursor-pointer;
}

.add-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-primary whitespace-nowrap bg-blue-900/30 border-2 border-primary rounded-lg px-4 py-2 cursor-pointer hover:bg-blue-500/30 hover:text-blue-300 hover:border-blue-400; 
}

.add-btn-fill {
    @apply text-white bg-primary;
}

.add-btn:active {
    background-color: #0292e6;
    filter: brightness(0.85);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000000 inset; 
  box-shadow: 0 0 0 1000px #131313 inset;
  -webkit-text-fill-color: #f3f4f6; 
  transition: background-color 5000s ease-in-out 0s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(40%) sepia(100%) saturate(500%) hue-rotate(180deg);
}

.react-datepicker,
.react-datepicker-popper,
.react-datepicker__month-container {
  background-color: #202020 !important;
}

.react-datepicker__header {
  background-color: #151515 !important;
  border-bottom: none;
}

.react-datepicker__day {
  color: #e9e9e9 !important;
  border: 2px solid transparent; 
  border-radius: 6px;
}

.react-datepicker__day-name {
    color: hsl(202, 98%, 65%) !important;
}

.react-datepicker,
.react-datepicker__month-container,
.react-datepicker__header {
  border: 1px solid #03a1fc !important; 
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #204461 !important;
  color: #fff !important;
  border: 2px solid #00a2ff !important;
}

.react-datepicker__current-month,
.react-datepicker__month-read-view,
.react-datepicker__year-read-view {
  color: hsl(201, 100%, 97%) !important;     
  background: transparent !important; 
  font-weight: 600;
  font-size: 1.1rem;
}

.react-datepicker__day:not(.react-datepicker__day--selected):not(.react-datepicker__day--keyboard-selected):hover {
  background-color: #252525 !important;
  color: #e9e9e9 !important;
  border: 2px solid #00a2ff !important;
}

.EmojiPickerReact {
  background-color: #151618 !important;
  border: 1px solid #03a1fc !important;
}

.EmojiPickerReact .epr-emoji:hover {
  background-color: #143468 !important;
}

.EmojiPickerReact input {
  background-color: #393e46 !important;
  color: #e9e9e9 !important;
  border: 1px solid #03a1fc !important;
}

.EmojiPickerReact input::placeholder {
  color: #b0b0b0 !important;
  opacity: 1 !important;
}

.EmojiPickerReact .epr-emoji-category-label {
  background-color: #151618 !important;
  color: hsl(202, 98%, 95%) !important;
}

.EmojiPickerReact .epr-body::-webkit-scrollbar {
  background: #262729 !important;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
  background: #4f555f !important;
}