@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-display: "Poppins", "sans-serif";
    --breakpoint-3xl: 1920px; 
    --color-primary: #03a1fc;
    --color-primary-hover: #028ad9;
    --color-secondary: #f7fbfc;
    --color-card-background: #090909;
    --color-background-color-1: #131313;
}

@layer base {
    html {
        font-family: var(--font-display);
    }

    body {
        background-color: #111111;
        overflow-x: hidden;
    }
}

.input-box {
    @apply w-full flex justify-between gap-3 text-sm text-gray-100 bg-gray-600 rounded px-4 py-3 mb-4 mt-3 border border-gray-700 outline-2 outline-blue-400;
}

.btn-primary {
    @apply w-full text-sm font-medium text-white bg-blue-400 shadow-lg shadow-blue-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-900;
}

.card {
    @apply bg-card-background p-6 rounded-2xl shadow-md shadow-blue-500 border-3 border-blue-500 text-secondary;
}

.card-btn {
    @apply flex items-center gap-3 text-[12px] font-medium text-blue-500 hover:text-blue-400 bg-blue-900/20 hover:bg-blue-500/30 px-4 py-1.5 rounded-lg border border-gray-200/500 cursor-pointer;
}

.add-btn {
    @apply flex items-center gap-1.5 text-xs md:text-sm font-medium text-primary whitespace-nowrap bg-blue-400/25 border-2 border-primary rounded-lg px-4 py-2 cursor-pointer hover:bg-primary hover:text-blue-100 hover:border-blue-100; 
}

.add-btn-fill {
    @apply text-white bg-primary;
}

.add-btn:active {
    background-color: #0292e6;
    filter: brightness(0.85);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #4b5563 inset; 
  box-shadow: 0 0 0 1000px #4b5563 inset;
  -webkit-text-fill-color: #f3f4f6; 
  transition: background-color 5000s ease-in-out 0s;
}